* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.raiz {
  margin-left: 25px;
  height: 60%;
}
.align-Row {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.logo {
  width: 32px;
}

.close {
  width: 18px;
  height: 17px;
  cursor: pointer;
}

.titulo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  margin-left: 16px;
}

.formulario {
  height: 90%;
  margin-top: 20px;
  padding-right: 45px;
}

.formulario h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-top: 7px;
}

.row {
  display: flex;
  justify-content: center;
 }

.align-double {
  display: flex;
  flex-direction: column;
}

.together {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.obs {
  margin-top: 40px;
}
